.element {
    height: 300px;
    width: 200px;
    background-color: red;
}

.slide-up-hide {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.slide-up-hide.ng-hide {
    height: 0;
    display: block !important;
}

.slide-up {
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}
.slide-up:hover {
    height: 100px;
}

.my-container {
    margin-left: 25px;
    padding-top: 25px;
    width: 250px;
    display: inline-block;
}