.element {
    height: 300px;
    width: 200px;
    background-color: red;
}

.slide-up-hide.ng-hide-add-active {
    height: 0px;
    display: block!important;
}
.slide-up-hide.ng-hide-remove-active {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    -ms-transition: height 0s;
    -o-transition: height 0s;
    transition: height 0s;
    height: 0px;
}
.slide-up-hide {
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}

.slide-up {
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
}
.slide-up:hover {
    height: 100px;
}

.my-container {
    margin-left: 25px;
    padding-top: 25px;
    width: 250px;
    display: inline-block;
}