.element {
    height: 300px;
    width: 200px;
    background-color: darkslategray;
}
.slide-up-hide {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 10s linear;
    overflow: hidden;
    height: 175px;
}

.slide-up-hide.ng-hide {
    height: 0;
    display: block !important;
}

.my-container {
    margin-left: 25px;
    padding-top: 25px;
    width: 250px;
    display: inline-block;
}
